.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 24px;
  padding-top: 24px;
}
.customer{
  margin-left: 16px;
  margin-top: 16px !important;
}
.fixed-action-btn {
  position: fixed;
  bottom: 45px;
  right: 24px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 997;
}
.fillter {
  text-align: end;
}
