<div class="w-25">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Danh sách nhóm Sản Phẩm
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>group_add</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="product-group">
        <mat-table [dataSource]="productGroup" matSort>
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Tên Nhóm </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Thao tác </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button class="btn-30" (click)="onIns(row)" mat-icon-button matTooltip="Sửa" matTooltipPosition="right">
                <mat-icon>edit</mat-icon>
              </button>
              <button class="btn-30" (click)="onDelete(row.id)" mat-icon-button matTooltip="Xóa"
                matTooltipPosition="right">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumnsProductGroup"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsProductGroup;"></mat-row>
        </mat-table>
        <!-- <mat-paginator [pageSizeOptions]="[5,10]"></mat-paginator> -->
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
      <mat-action-row>
        <button mat-icon-button mat-mini-fab color="accent" (click)="onIns(0)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Danh Sách Nơi Sản Xuất
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>group_add</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-action-row>
        <button mat-icon-button mat-mini-fab color="accent">
          <mat-icon>add</mat-icon>
        </button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Danh Sách Thương Hiệu
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>group_add</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-action-row>
        <button mat-icon-button mat-mini-fab color="accent">
          <mat-icon>add</mat-icon>
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="w-75">

</div>
