<div class="w-25">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Danh sách nhóm Sản Phẩm
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>group_add</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-products-group></app-products-group>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Danh Sách Nơi Sản Xuất
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>group_add</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-products-made-in></app-products-made-in>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Danh Sách Thương Hiệu
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>group_add</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-products-brand></app-products-brand>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="w-75">

</div>
