.app-product-grid{
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.app-product-grid:hover{
  border-radius: 16px;
  box-shadow: 0 0 10px rgb(0 0 0 / 13%);

}
.product-item{
  padding: 16px;
}
.title{
  height: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: 15px;
  -webkit-line-clamp: 2;
}

.app-product-grid:hover .title{
  color:#f33;
  transition:all .5s ease 0s
}
.image-product img{
  overflow: hidden;
  width: 100%;
}

.title{
  color:#333}
  @keyframes shine{
    to{
      left:100%
    }
  }
.app-product-grid:hover .image-product::before{
  animation:shine 1s
}
.image-product::before{
  position:absolute;
  top:0;
  left:-68%;
  z-index:2;
  display:block;
  content:"";
  width:30%;
  height:100%;
  background:linear-gradient(90deg,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,.3));
  transform:skewX(-25deg)
}
.price_sale .new-price{
  line-height: 22px;
  height: 22px;
  font-size: 18px;
  color: #f33;
}
.price_old{
  margin-top: 4px;
  margin-right: 4px;
  line-height: 14px;
  height: 14px;
  color: #9e9e9e;
  font-size: 12px;
  text-decoration: line-through;
}
.action{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app-product-grid:hover .btn-add-cart button{
  border-radius: 50%;
  background: transparent;
  background: #f33;
  z-index: 0;
  transition: color .2s;
  color: #ffffff;
  transition: 2s;
}
.btn-add-cart:hover button{
  background: #333 !important;
}
.sale{
  width: 50px;
  height: auto;
  position: absolute;
  z-index: 2;
  left: 13px;
  top: 0px;
}
.sale img{
  width: 100%;
  transition: .4s ease;
}
.sale span{
  position: absolute;
  z-index: 2;
  left: 15px;
  top: 4px;
  color: #ffffff;
}
.new{
  position: absolute;
  top: 10px;
  right: 10px;
}
.icon-new{
  border-radius: 3px;
  position: relative;
  height: 25px;
  width: 25px;
  z-index: 1;
  cursor: pointer;
}
.icon-new::before{
  transform: rotateZ(30deg);
  content: "";
  border-radius: 3px;
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  z-index: 1;
}
.icon-new::after{
  content: "";
  border-radius: 3px;
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  z-index: 1;
}

.text-new{
  color: red;
  position: absolute;
  right: 2px;
  font-size: 25px;
  top: 0;
  padding-bottom: 6px;
  z-index: 9;
  font-family: 'Kaushan Script', cursive;
}
