<div class="made-in">
  <h2 mat-dialog-title>{{this.item.id ?"Sửa Nơi Sản Xuất ":"Thêm Nơi Sản Xuất"}}</h2>
  <form [formGroup]="formMadeIn" *ngIf="formMadeIn">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Tên Nơi Sản Xuất</mat-label>
      <input matInput autocomplete="off" formControlName="name" required>
    </mat-form-field>
  </form>
  <div class="dialog-bottom">
    <div class="btn-cancel">
      <button mat-stroked-button type="button" mat-dialog-close>HỦY</button>
    </div>
    <div class="btn-save">
      <button mat-button type="button" keyboard-save
        (click)="onIns()">Thêm</button>
    </div>
  </div>
</div>
