<div class="brand">
  <h2 mat-dialog-title>{{this.item.id ?"Sửa Thương Hiệu ":"Thêm Thương Hiệu"}}</h2>
  <form [formGroup]="formBrand" *ngIf="formBrand">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Tên Thương Hiệu</mat-label>
      <input matInput autocomplete="off" formControlName="name" required>
    </mat-form-field>
  </form>
  <div class="dialog-bottom">
    <div class="btn-cancel">
      <button mat-stroked-button type="button" mat-dialog-close>HỦY</button>
    </div>
    <div class="btn-save">
      <button mat-button type="button" keyboard-save
        (click)="onIns()">Thêm</button>
    </div>
  </div>
</div>
