.reset-pass-container {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* min-height: 100vh; */
  padding: 16px 16px;
}

.reset-pass-content{
  max-width: 100%;
}
.form-reset-pass {
  width: 100%;
}

h1{
  font-weight: lighter;
}

.reset-pass-content .mat-form-field{
  width: 100%;
}

button.btn-submit-pw {
  width: 100%;
  background-color: #15ab64 !important;
}

a{
  line-height: 1.5;
  color: #15ab64;
  text-decoration: none;
}

.error {
  font-size: 14px;
  color: 	#f44336;
  padding: 0px 0px 16px 0px;
}

::ng-deep .form-reset-pass .mat-form-field-label-wrapper{
  color: #15ab64;
  top: -1.4em;
}

::ng-deep .form-reset-pass .mat-focused .mat-form-field-label {
  color: #4a4a4a !important;
}

::ng-deep .form-reset-pass .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.6em 0px !important;
}

::ng-deep .form-reset-pass .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
}

