.banner-header-top img{
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  position: relative;
  width: 100%;
  margin: 0px;
  height: 100px;
}
.header-top-start{
  align-items: center;
  display: flex;
  justify-content: center;
}
.header-top-item{
  padding: 8px 16px;
}
.header-top-item a{
  text-decoration: none;
  color: #262626;
  text-transform: uppercase;
}
.header-top-item:hover a{
  text-decoration: none;
  color: #f33;
}
.form-search ::ng-deep .mat-form-field-wrapper{
  padding: 0px !important;
}
.check-cart{
  text-align: center;
}
.menu {
  position: relative;
  z-index: 333;
  box-shadow: 0 1px 1px 0 rgb(36 50 56 / 20%);
}
.menu ::ng-deep .mat-list-base .mat-list-item,
 .menu ::ng-deep .mat-list-base .mat-list-option{
  height: 32px;
}
.menu ::ng-deep .mat-list-base{
  padding: 0px !important;
}
.menu ::ng-deep .mat-list-text a{
  text-decoration: none;
  color: #262626;
}
.menu ::ng-deep .mat-list-text:hover a{
  color: #f33;
}
.menu ::ng-deep .owl-carousel .owl-item img{
  height: 414px;
}
