<div class="header w-100">
  <div class="header-top">
    <div class="banner-header-top">
      <img src="../../../../assets/banner/{{banner.images}}" [alt]="banner.name">
    </div>
  </div>
  <div class="header-top">
    <div class="container-main">
      <div class="container-fuild">
        <div class="row">
            <div *ngFor="let item of menu_top" class="header-top-item">
              <a [routerLink]="item.link">{{item.name}}</a>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100">
    <div class="container-main">
      <div class="container-fuild">
        <div class="w-100 row align-items-center">
          <div class="logo col-md-2" style="padding: 0px;">
            <a routerLink="/">
              <img src="../../../../assets/website/{{company.logo}}" [alt]="company.title" width="150px">
            </a>
          </div>
          <div class="col-md-8 form-search" style="padding: 0px;">
            <form [formGroup]="formSearch" *ngIf="formSearch">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Tìm kiếm </mat-label>
                <input matInput autocomplete="off" formControlName="value">
                <button mat-icon-button matSuffix [attr.aria-label]="'Tìm kiếm'" matTooltip="Tìm kiếm"
                  matTooltipPosition="above">
                  <mat-icon>search</mat-icon>
                </button>
              </mat-form-field>
            </form>
          </div>
          <div class="check-cart col-md-2" style="padding: 0px;">
            <button mat-icon-button matTooltip="Kiểm tra giỏ hàng" matTooltipPosition="right">
              <mat-icon>shopping_cart</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu fix-menu w-100 bg-white">
    <div class="container-main">
      <div class="container-fuild">
        <div class="row">
          <div class="col-md-3" style="padding: 0;">
            <mat-selection-list [multiple]="false">
              <mat-list-option *ngFor="let item of category">
                <a [routerLink]="item.link">{{item.name}}</a>
              </mat-list-option>
            </mat-selection-list>
          </div>
          <div class="col-md-9" style="padding: 0;">
            <div class="owl-carousel-slides owl-carousel owl-theme text-white">
              <img src="../../../../assets/banner/{{item.images}}" [alt]="item.link" *ngFor="let item of slides">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
